<html>
	<head>

		<!-- include our libraries and css files -->

		<link href="{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet">
		<link href="{{ url_for('static',filename='gallery.css') }}" rel="stylesheet">
		<img src='https://s-media-cache-ak0.pinimg.com/736x/58/47/29/5847294659e93fe3ed6106ef48b374d9.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
		<title>Confirm</title>
		<div class="page-header">
			<h1 class = "push-left">Read Reviews</h1>
		</div>
	</head>
	<body>
		<nav class = "navbar navbar-default">
		<div class = "container">
			<ul class="nav navbar-nav">
          		<li role="" id="detailsbtn"><a href="trip">Back to Trip</a></li>
    		</ul>
    	</div>
    	</nav>
		<div class = "table-responsive">
			<table class = "table">
				<thead>
					<tr>
						<th>Attraction</th>
				        <th>Title</th>
				        <th>Review</th>
				        <th>Author</th>				        
					</tr>
				</thead>
				<tbody method = "get">
					{% for trip in reviews %}
						<tr>
							<th>{{trip[0]}}</th>
							<th>{{trip[1]}}</th>
							<th>{{trip[2]}}</th>
							<th>{{trip[3]}}</th>		
						</tr>
					{% endfor %}
				</tbody>
				</table>
		</div>
	</body>
</html>
		